<%= form_with(model: detalle) do |form| %>
  <% if detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detalle.errors.count, "error") %> prohibited this detalle from being saved:</h2>

      <ul>
        <% detalle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 pb-5">
          <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad , class:"custom-select mr-sm-2"%>
  </div>

  <div class="field">
    <%= form.label :Prestamo_id %>
      <%= form.select :Prestamo_id, options_for_select(Prestamo.all.map{|s|[s.id]}) ,{}, {class: "custom-select mr-sm-2", style:"max-width:150px"} %>
  </div>

  <div class="field">
    <%= form.label :libro_id %>

       <%= form.select :libro_id, options_for_select(Libro.all.map{|s|[s.titulo, s.id]}) ,{}, {class: "custom-select mr-sm-5", style:"max-width:150px"} %>
  </div>

 <div class="actions">
        <%= form.submit nil, :class => 'btn btn-primary' %>
      </div>
<% end %>
  </div>
  </div>
  </div>
