<p id="notice"><%= notice %></p>

<h1>Detalles</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Prestamo</th>
      <th>Libro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalles.each do |detalle| %>
      <tr>
        <td><%= detalle.cantidad %></td>
        <td><%= detalle.Prestamo_id %></td>
        <td><%= detalle.libro_id %></td>
        <td><%= link_to 'Show', detalle %></td>
        <td><%= link_to 'Edit', edit_detalle_path(detalle) %></td>
        <td><%= link_to 'Destroy', detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle', new_detalle_path %>
