<div class="text-center">
<%= form_with(model: infraccion) do |form| %>
  <% if infraccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(infraccion.errors.count, "error") %> prohibited this infraccion from being saved:</h2>

      <ul>
        <% infraccion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valor %>
    <%= form.number_field :valor  , {class: 'form-control',style:"max-width:150px; margin-left:45%" } %>
    
  </div>

  <div class="field">
    <%= form.label :fecha %>
     <%= form.date_select :fecha ,{:start_year => Date.current.year, :end_year => 1930}, {class: "custom-select mr-sm-2", style:"max-width:150px"} %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.check_box :estado %>
  </div>

  <div class="field">
   <!--  <%= form.label :Prestamo_id %>-->
    <label> Numero del prestamo</label>
  
    <%= form.select :Prestamo_id, options_for_select(Prestamo.all.map{|s|[s.id]}) ,{}, {class: "custom-select mr-sm-2", style:"max-width:150px"} %>
  </div>

  <div class="actions">
    <%= form.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

</div>