<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>
<div class="text-right mb-3 mr-3">
<%= button_to  new_usuario_path, class: "btn btn-success",method: :get  do %>
<i class="fas fa-plus"> Nuevo usuario</i>
<% end %>
</div>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
    <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Login</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th colspan="3" scope="col" > <span style="padding-left:30%">Accion</span></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombres %></td>
        <td><%= usuario.apellidos %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.login %></td>
        <td><%= usuario.password %></td>
        <td><%= usuario.email %></td>
         <td> <%= link_to usuario , style: 'color: var(--blue); margin-right:5%' do %>
        <i class="fas fa-info-circle fa-3x blue"></i>
        <% end %>
        <%= link_to edit_usuario_path(usuario), style: 'color: var(--yellow) ; margin-right:5%' do %>
 <i class="fas fa-pen-square fa-3x yellow "></i>
 <% end %>
 <%= link_to  usuario, method: :delete, data: { confirm: 'Are you sure?' } , style: 'color: var(--red)' do %> 
  <i class="fas fa-minus-square fa-3x"></i>  
  <% end %>
  </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>