<div class="text-center mt-2">


<h2 id="notice"><%= notice %></h2>


<div class="row">

<div class="col">
<h2>
  <strong>Nombres:</strong>
  <%= @usuario.nombres %>
</h2>
</div>
<div class="col">
<h2>
  <strong>Apellidos:</strong>
  <%= @usuario.apellidos %>
</h2>

</div>
<div class="col">
<h2>
  <strong>Direccion:</strong>
  <%= @usuario.direccion %>
</h2>
</div>
<div class="col">
<h2>
  <strong>Telefono:</strong>
  <%= @usuario.telefono %>
</h2>
</div>
<div class="col">
<h2>
  <strong>Login:</strong>
  <%= @usuario.login %>
</h2>
</div>
<div class="col">
<h2>
  <strong>Password:</strong>
  <%= @usuario.password %>
</h2>
</div>
<div class="col">
<h2>
  <strong>Email:</strong>
  <%= @usuario.email %>
</h2>
</div>

</div>

<%= link_to edit_usuario_path(@usuario) , style: 'color: var(--yellow) ;' do %>
  
  <i class="fas fa-pen-square fa-3x yellow "></i>
  <% end %>

|
<%= link_to  usuarios_path ,style:'color: var(--orange)'  do %>
  <i class="fas fa-caret-square-left fa-3x"></i>
  <% end %>

</div>