<%= form_with(model: libro) do |form| %>
  <% if libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
        <% libro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 pb-5">
<div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo , class:"form-control col-md-9" %>
  </div>

  <div class="field">
  <%= form.label :autor %>
  <br>
    <%= form.text_field :autor , class:"form-control col-md-9" %>
  </div>

  <div class="field">
    <%= form.label :anyo %>
    <%= form.number_field :anyo,class:"form-control col-md-9" %>
  </div>

 <div class="actions">
        <%= form.submit nil, :class => 'btn btn-primary', style: 'margin: 0 25%'  %>
      </div>
<% end %>

  </div>
  </div>
  </div>
  