<div class="text-center mt-2">

<h2 id="notice"><%= notice %></h2>


<div class="row">

<div class="col">
<h2>
  <strong>Titulo:</strong>
  <%= @libro.titulo %>
</h2>

</div>
<div class="col">
<h2>
  <strong>Autor:</strong>
 <%= @libro.autor %>

</h2>

</div>
<div class="col">
<h2>
  <strong>Anyo:</strong>
  <%= @libro.anyo %>
</h2>
</div>
</div>

<%= link_to edit_libro_path(@libro) , style: 'color: var(--yellow) ;' do %>
  
  <i class="fas fa-pen-square fa-3x yellow "></i>
  <% end %>

|
<%= link_to  libros_path ,style:'color: var(--orange)'  do %>
  <i class="fas fa-caret-square-left fa-3x"></i>
  <% end %>

</div>